*,
h1,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility Classes */

.text-responsive {
  font-size: clamp(0.5rem, 5vw, 1.5rem);
}

/* Utility Classes End Point*/

.app {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100svh;
  width: 100svw;
  background: url("./img/HdDog.jpg") center/cover no-repeat;
}

header {
  padding: 1em;
  text-align: center;
}

header select {
  border-radius: 5px;
  text-align: center;
}

header select option {
  font-size: 0.6rem;
}

header h1,
header select {
  padding: 1em;
}
main {
  /* background: grey; */
  position: relative;
  overflow: hidden;
  margin-inline: 10px;
}

.slide {
  position: absolute;
  inset: 0 0 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0;
  transform: scale(1);
  transition: all 0.9s ease-out;
}

.slide:nth-last-child(2) {
  opacity: 1;
  transform: scale(1.08);
}

/* break point */

@media (min-width: 768px) {
  header {
    z-index: 1;
  }

  main {
    background: linear-gradient(
      45deg,
      rgba(107, 107, 107, 1) 0%,
      rgba(41, 41, 41, 1) 50%,
      rgba(31, 31, 31, 1) 51%,
      rgba(107, 107, 107, 1) 72%,
      rgba(72, 72, 72, 1) 100%,
      url("./img/HdDog.jpg")
    );
    margin-top: 1px;

    height: 100dvh;
    position: fixed;
    inset: 13% 0 0 0;
  }

  .slide {
    background-size: cover;
  }
}
