* ,h1,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Utility classes */

.text-center {
  text-align: center;
}

.text-responsive {
  font-size: clamp(0.5rem, 5vw, 1.5rem);
}


/* break point */


@media (min-width: 768px) {
  body {
    background: #777;
  }
}
